[Unit]
SourcePath=/etc/init.d/gitblit

[Service]
ExecStart=/etc/init.d/gitblit start
ExecStop=/etc/init.d/gitblit stop
User=root
Type=forking
Restart=no
TimeoutSec=5min
IgnoreSIGPIPE=no
KillMode=process
GuessMainPID=no

[Install]
WantedBy=multi-user.target
